<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <!-- Left Block -->
        <div class="col d-flex flex-column justify-content-center align-items-center" id="col1">
            <div class="h1"><b>
                    <p>CONTACT US</p>
                </b></div>
            <div class="row d-flex flex-column justify-content-left align-items-left">
                <div class="item">
                    <fa-icon [icon]="faHome" style="font-size: 20px"></fa-icon>
                    India, Maharashtra
                </div>
                <div class=" item">
                    <fa-icon [icon]="faPhone" style="font-size: 20px"></fa-icon>
                    +01 111111102
                </div>
                <div class="item">
                    <fa-icon [icon]="faClock" style="font-size: 20px"></fa-icon>
                    Mon-Fri 9.00AM to 5PM
                </div>
                <div class="item">
                    <fa-icon [icon]="faEnvelope" style="font-size: 20px"></fa-icon>
                    International@gmail.com
                </div>
            </div>
        </div>

        <!-- Right Block-->
        <div class="col  d-flex flex-column justify-content-center align-items-center " id="col1">
            <div class="contact">
                <input type="text" class="textb" placeholder="Your Name">
                <input type="email" class="textb" placeholder="Your Email">
                <textarea placeholder="Your Message"></textarea>
                <input type="submit" class="btn" value='Send'>
            </div>
        </div>
    </div>
</div>