<div class="container-fluid" id="col1">
    <div class="row" style="height: 100vh">
        <img src="assets/adm.jpeg" height="300px" width="100%" />
        <!-- Left Block -->
        <div class="col d-flex flex-column justify-content-center align-items-center" id="col1"
            style="border-bottom: 4px solid red;">
            <div class="h2"><b>
                    <p>Rules and Regulation For Admissions :</p>
                </b></div>
            <div class="row d-flex flex-column justify-content-left align-items-left">
                <div class="item">
                    Registrations once completed does not guarantee an admission,
                    it is subjected to various formalities like submission of
                    admission related documents in time along with
                    necessary fee.
                    <br><br>
                </div>
                <div class="mt-3">

                    Once admission is done, it is only considered completed once
                    school receives all the necessary documents required at the
                    time of admission along with the requisite fee. Paid
                    Registration fees is non Refundable and non transferable.
                    <br><br>
                </div>
            </div>
        </div>

        <!-- Right Block-->
        <div class="col  d-flex flex-column justify-content-center align-items-center " id="col1"
            style="border-bottom: 4px solid red;">

            <div class="row d-flex flex-column justify-content-left align-items-left">
                <div class="mt-5">
                    Any detail or document if found to be wrong or falsely submitted
                    gives school right to cancel the admission and further process is
                    subjected to School’s management’s discretion.
                    <br><br>
                </div>
                <div class="mt-3">
                    A time frame is given to complete all the formalities as then only
                    the admission process is considered completed.
                    <br><br>
                </div>

            </div>
        </div>

        <div class="mt-5" id="col1">
            <div class="h5">
                <p>Withdrawals Every admission of the child at CIS is beginning of a new relationship. Sometime for some
                    reason or unfortunate circumstances the parents seek withdrawal of the child that time following
                    points needs to be keeping in mind.

                </p>
            </div>
            <div class="mt-3">
                <p>Before every withdrawal three calendar months notice is to be given. If notice period is not served
                    the parents have to forfeit equivalent three months annual fee charges.
                    Admission/Registration charges are non-refundable charges. Only security/caution money is liable to
                    returned.
                </p>
            </div>
            <div class="mt-3">
                <p> (Please note the refund is processed only after clearances of all departments).
                    Parents are advised to refer the rules and regulations leaflet given at the time of admission for
                    more details.
                </p>
            </div>

        </div>
    </div>