
.input-field {
    max-width: 310px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 45px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field fa-icon {
    text-align: center;
    line-height: 50px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.3rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  
.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}
#col{
    background-color: rgb(12, 114, 114);
}